* {
    margin: 0;
    padding: 0;
  }
body {
    background-color: rgb(184, 230, 240);
    color: rgb(21, 21, 21);
    font-family: "Poppins", sans-serif;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(13, 13, 13);
    font-size: 2.5rem;
  }
  nav ul {
    display: flex;
    justify-content: center;
  }
  nav ul li {
    list-style: none;
    margin: 0 23px;
  }
  nav ul li a {
    text-decoration: none;
    color: rgb(251, 251, 252);
  }
  nav ul li a:hover {
    color: rgb(239, 136, 32);
    font-size: 2.59rem;
  }
  .hero-text {
    font-size: 1.8rem;
    font-family: "Nunito", sans-serif;
  }
  .school {
    font-size: 2.6rem;
  }
  .firstSection {
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 23px 0;
    align-items: center;
  }
  .leftSection {
    font-size: 2rem;
    margin: 70px 0;
  }