.hero {
    margin-left: 2.4rem !important;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    line-height: 1; /* Ensures consistent line spacing */
  }
  
  @media (max-width: 768px) {
    .hero {
      margin-left: 1rem !important; /* Adjust the size as needed */
    }
  }
  
  @media (max-width: 480px) {
    .hero {
      margin-left: 0rem !important; /* Adjust the size as needed */
    }
  }