.responsive-text {
    font-size: 2rem;
    font-weight: 600;
  }
  
  @media (max-width: 768px) {
    .responsive-text {
      font-size: 1.5rem; /* Adjust the size as needed */
    }
  }
  
  @media (max-width: 480px) {
    .responsive-text {
      font-size: 1.2rem; /* Adjust the size as needed */
    }
  }